body {
	padding: 5px;
}

h1, h2 {
	clear: both;
	text-align: center;
}

form {
	width: 400px;
	float: left;
}

.aligned-form {
	margin-left: 10px;
}

#wrap {
	width: 810px;
	margin: 0 auto;
}

#forms {
	overflow: hidden;
}

.colours-demo {
	width: 560px;
	height: 110px;
	margin: 0 auto;
}

.colours-demo > div {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 5px;
}