// A selection of attractive base colours from http://clrs.cc/
// Navy: #001F3F
// Blue: #0074D9
// Aqua: #7FDBFF
// Teal: #39CCCC
// Olive: #3D9970
// Green: #2ECC40
// Lime: #01FF70
// Yellow: #FFDC00
// Orange: #FF851B
// Red: #FF4136
// Maroon: #85144B
// Fuchsia: #F012BE
// Purple: #B10DC9
// White: #FFFFFF
// Silver: #DDDDDD
// Gray: #AAAAAA
// Black: #111111

$main: #579AE6;
$complement1: adjust-hue($main, 180);
$complement2: darken( $complement1, 5%);
$lighter: lighten($main, 15%);
$lightest: lighten($main, 30%);

.main {
  background: $main;
}

.complement1 {
  background: $complement1;
}

.complement2 {
  background: $complement2;
}

.lighter {
  background: $lighter;
}

.lightest {
  background: $lightest;
}