.common-menu {
	list-style: none;
	height: 35px;
	background-color: #678AB5;
	font-size: 1.1em;
	font-weight: bold;
	padding-left: 0;

	li {
		height: 35px;
		float: left;
		border-right: solid white 2px;

		&:first-child {
			border-left: solid white 2px;
		}

		a {
			text-decoration: none;
			color: inherit;
			padding-left: 20px;
			padding-right: 20px;
			height: 35px;
			line-height: 35px;
			display: inline-block;

			&:visited {
				color: inherit;
			}

			&:hover {
				background-color: #94B9D4;
			}
		}
	}
}